body{
    padding: 0;
    margin-left: 25px;
    margin-right: 25px;
}

.box{
    min-width: 250px;
    max-width: 250px;
    min-height: 300px;
    max-height: 300px;
    border: 1px solid black;
    margin: 2vh 25px 2vh 25px; 
    display: inline-block;
    
}



@media screen and (min-width: 376px) and (max-width: 1250px){
    .box{
        min-width: 200px;
        max-width: 200px;
        min-height: 300px;
        max-height: 300px;
        display: block;
    }

    .left{
        margin-right: 100vw; /*this forces it to be a block element)*/
        float: left;
    }

    .right{
        float: right;
    }

    
}

@media screen and (max-width: 375px){
    .box{
        min-width: 60vw;
        max-width: 60vw;
        min-height: 40vh;
        max-height: 40vh;
        border: 1px solid black;
        display: block;
        margin: 3vh auto 3vh auto;
    }

}